<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment/>
    <entry key="searchExpIngredients">
        SELECT *
            FROM ingredients
            WHERE expDate = ?
            AND
            memNo = (SELECT memNo
                        FROM members
                        WHERE id = ?)
    </entry>
</properties>