<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>Member SQL Queries</comment>

    <!-- 회원가입 -->
    <entry key="insertMember">
        INSERT INTO members (id, pwd, name, nickname, birth, gender, admin)
            VALUES (?, ?, ?, ?, ?, ?, ?)
    </entry>

    <!-- 로그인 -->
    <entry key="login">
        SELECT * FROM members WHERE id = ? AND pwd = ?
    </entry>

    <!-- 회원 정보 조회 -->
    <entry key="getMemberInfo">
        SELECT * FROM members WHERE id = ?
    </entry>

    <!-- 회원 정보 수정 -->
    <entry key="updateMemberInfo">
        UPDATE members
            SET pwd = ?, nickname = ?, birth = ?, gender = ?
            WHERE id = ?
    </entry>

    <!-- 회원 정보 삭제 -->
    <entry key="deleteMemberInfo">
        DELETE FROM members WHERE id = ?
    </entry>

    <!-- 관심 레시피 확인 -->
    <entry key="getFavoriteRecipes">
        SELECT r.name, r.ingredients, r.method, r.time, r.level
            FROM recipe r
            JOIN save_recipe s ON r.name = s.name
            JOIN members m ON s.memNo = m.memNo
            WHERE m.memNo = (
                SELECT memNo FROM members WHERE id = ?)
    </entry>

    <!-- 관심 레시피 삭제 -->
    <entry key="deleteFavoriteRecipe">
        DELETE FROM save_recipe
            WHERE memNo = (
                SELECT memNo FROM members WHERE id = ?
            ) AND name = ?
    </entry>

</properties>
