<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment/>
    <entry key="searchIngredients">
        SELECT *
            FROM ingredients
            WHERE memNo = (SELECT memNo
                                FROM members
                                WHERE id = ?)
    </entry>
    <entry key="searchRecommendRecipe">
        SELECT *
        FROM recipe
        WHERE ingredients LIKE ? AND ingredients LIKE ? AND ingredients LIKE ?
        ORDER BY RAND()
        LIMIT 1;
    </entry>
    <entry key="saveRecipe">
        INSERT INTO save_recipe (memNo, name)
        SELECT memNo, ?
        FROM members
        WHERE id = ?
    </entry>
</properties>